body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,tr,th,td { padding:0; margin:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-weight:normal; font-style:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; }
.clear{ clear:both; font-size:0; visibility:hidden; line-height:1px; height:1px; margin-top:-1px;}
.fixfloat:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
.fixfloat{zoom:1}
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif,宋体; color:#333; background:#f1fbff;}
a{ color:#0055aa; text-decoration:underline;}

.fLeft{ float:left;}
.fRight{ float:right;}
.col1{ float:left; width:180px;}
.col2{ padding:15px 0 0 20px; overflow:hidden; zoom:1;}
/******************按钮******************/
.btn_blue{ float:left; padding:0 0 0 4px; margin:0 0 0 3px;background:url(../images/btn_tag_left.gif) no-repeat 0 0;}
.btn_blue{ display:inline;}
.btn_blue a{ display:block; float:left; padding:0 25px 0 21px;  height:30px; line-height:30px; background:url(../images/btn_tag_right.gif) no-repeat right 0; color:#fff; font-weight:700; text-decoration:none; overflow:hidden;}
.btn_fr{ display:inline; float:right; margin:0 27px 0 0; text-align:right;}
.btn_blue.nomargin{ margin:0;}

.btnFunction,.btnSearch{ display:block; float:left; padding:3px 20px;margin:0 5px; background:#065a88; text-decoration:none; color:#fff; border:1px solid #043753;}
.btnAdd{ padding:3px 20px;margin:0 0 0 10px; background:#065a88; text-decoration:none; color:#fff; border:1px solid #043753;}

/******************个人资料******************/
.baihe_main{ min-width:1200px; background:#f1fbff; overflow-x:auto; zoom:1;}
.header{ width:100%; height:70px; padding:5px 15px 0; border-bottom:1px solid #3984ac; background:#017ec2; overflow:hidden; zoom:1;}
h1.logo a{ display:block; float:left; width:200px; height:60px; margin:0 5px 10px 0; background:#017ec2 url(../images/logo.gif) no-repeat 0 0;}
.header .text{ display:block; float:left; padding:10px 0 0; font:24px/50px 微软雅黑; color:#fff;}
.header .text strong{ padding:0 5px; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.header .fr{ float:right; width:200px; padding:0 30px;  text-align:right; color:#fff; font-family: Arial;}
.header .fr .loginUser{ width:200px; padding:10px 0; float:right;}
.header .fr .loginUser a{ padding:0 0 0 10px; color:#fff; text-decoration:underline; white-space:nowrap;}
.header .fr p{ color:#cce5f3;}

.col1 img{ display:block; padding:2px; border:1px solid #d0d0d0; background:#fff;}
.col1 span{ display:block; padding:5px 0;}

.baiheNav{ margin:0 0 15px 0; padding:6px 15px; background:#fff url(../images/nav_bg.gif) repeat-x 0 bottom; border:1px solid #dfdfdf; color:#0055aa; font-size:14px; font-weight:700;}
.baiheNav img{ margin:0 5px 0 0; vertical-align:middle;}
.searchdate{ margin:0 0 10px 0;}

.bahie_temp{ padding:10px; margin:0 0 20px 0; background:#e5f6fe; border:1px solid #b2d7ec; overflow:hidden; zoom:1;}
.bahie_temp h3{ display:block; margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #b2d7ec; font-size:14px; font-weight:700;}
.bahie_temp .title{ border-bottom:1px solid #b2d7ec; padding:0 0 0 20px; overflow:hidden; zoom:1; }
.bahie_temp .title a{ display:block;float:left; padding:5px 15px; margin:0 5px 0 0; border:1px solid #b2d7ec; border-width:1px 1px 0; background:#fff; text-decoration:none;}
.bahie_temp .title a.now{ background:#2792c6; color:#fff;}
.bahie_temp .searchCont{ float:right;}
.bahie_temp .function{ float:left;}
.bahie_temp .searchCont input{ padding:2px;}
.bahie_temp .pageCont{ padding:10px 25px; border:1px solid #7ab5d6; background:#d8f1fe; border-width:0 0 1px 1px; color:#333; overflow:hidden; zoom:1;}
.bahie_temp .pageCont .link{ padding:0 5px; color:#333;line-height:24px;}
.bahie_temp .pageCont .temp{ float:left; margin:0 25px 0 0; overflow:hidden; zoom:1;}
.bahie_temp .pageCont .tempPage{ float:left; margin:0 25px 0 0; line-height:24px; }
.bahie_temp .pageCont .tempPage strong{ color:#ff6600; font-weight:700;}
.bahie_temp .pageCont .fl{ float:left;}
.bahie_temp .btnCont{ padding:25px; text-align:center; overflow:hidden; zoom:1;}



.bahie_basic{ border:1px solid #90C0E2; border-width:1px 1px 0 0; overflow:hidden; zoom:1;}
.bahie_basic table{ table-layout:fixed; }
.bahie_basic tr th,.bahie_basic tr td{ padding:5px 7px; line-height:18px; background:#fff;border:1px solid #90C0E2; border-width:0 0 1px 1px;}
.bahie_basic tr th{ font-weight:700; color:#0055aa; text-align:center; background:#cbe7fa;}
.bahie_basic .edite{ padding:0 10px;}
.bahie_basic .bg td,.bahie_basic .bg th{ background:#f8f8f8;}
.bahie_basic .moveBg td,.bahie_basic .moveBg th{ background:#e5f6fe;}
.bahie_basic .clickBg td,.bahie_basic .clickBg th{ background:#cbe7fa;}

.bahie_basic .green td,.bahie_basic .green th{ background:#dcf6df;}
.bahie_basic .red td,.bahie_basic .red th{ background:#f6dede;}
.bahie_basic .gray td,.bahie_basic .gray th{ background:#ececf1;}

.bahie_detail{ border:1px solid #90C0E2; border-width:1px 1px 0 0; overflow:hidden; zoom:1;}
.bahie_detail table{ table-layout:fixed; }
.bahie_detail tr th,.bahie_detail tr td{ padding:5px 7px; background:#fff;border:1px solid #90C0E2; border-width:0 0 1px 1px;}
.bahie_detail tr th{font-weight:100; color:#000; text-align:right; background:#cbe7fa;}

.baihe_detail2 tr th,.baihe_detail2 tr td{ padding:5px 20px 5px 0; border: 0;}

.input_must{ padding:0 5px 0 0;color:#ff0000; font-size:14px; font-family:Simsun;}
.input_des{ padding:0 5px 0 20px;color:#666;}
.input_text {width:250px;height:25px;}
.input_select {width:100px;height:25px;}
.input_select_long {width:255px;height:25px;}
.input_select_short {width:65px;height:25px;}
.input_textarea {width:300px;height:80px; font-size:12px;}



.userNav{ border:1px solid #87bbe0;overflow:hidden; zoom:1;}
.serviceCentre{ border-bottom:1px solid #87bbe0;}
.userNav a{ text-decoration:none;}
.userNav a:hover,.userNav ul li a.current{ color:#ff3300; text-decoration:none;}
.userNav .title a{ display:block; height:30px; line-height:30px; color:#0055aa; padding:0 17px;font-weight:700;background:#d9f1ff url(../images/subNavTitle.jpg) no-repeat; overflow:hidden;}
.userNav a.closeBox{ background-position:0 0;}
.userNav a.openBox{ background-position:0 -30px;}

.userNav ul li a.closeApp,.userNav ul li a.closeApp:hover{ background:url(../images/userNav_icon.gif) no-repeat 20px 0;}
.userNav ul li a.openApp,.userNav ul li a.openApp:hover{ background:url(../images/userNav_icon.gif) no-repeat 20px -24px;}
.userNav ul{ padding:0 0 4px 0; overflow:hidden; zoom:1;}
.userNav ul.top{ border-top:1px solid #e8e8e8;}
.userNav ul li a{ display:block;height:24px; padding:0 10px 0 43px; margin:1px 0 0; line-height:24px; _line-height:27px; background:url(../images/userNav_icon.gif) no-repeat 20px -48px;  overflow:hidden;}
.userNav ul li a:hover,.userNav ul li a.current{ background:#fff url(../images/userNav_icon.gif) no-repeat 20px -72px; }
.userNav ul li .msgfcwr{ position:absolute; right:8px; top:6px; display:block; width:25px; height:12px; line-height:12px; text-align:center; background:url(../images/userNav/userNav_iconbg.gif) no-repeat; color:#fff; overflow:hidden;}

.middleCont{ float:left; width:14px; overflow:hidden; zoom:1;}
.middleCont table{ height:100%; background:url(../images/middleBg.jpg) repeat-y 0 0;}
.middleCont img{ cursor:pointer;}

.login{ width:512px; height:229px; margin:150px auto 0; padding:40px 35px; background:url(../images/login.jpg) no-repeat; overflow:hidden; zoom:1;}
.login h3{ display:block; margin:0 0 35px 0; font:22px/24px 微软雅黑; color:#fff;}
.login .text{ padding:0 0 0 90px; overflow:hidden; zoom:1;}
.login .text dl{ margin:0 0 10px 0; overflow:hidden; zoom:1;}
.login .text dl dt{ float:left; width:65px; line-height:26px; font-weight:700; color:#fff; font-size:14px;}
.login .text dl dd{ overflow:hidden; zoom:1;}
.login .text dl dd input{ width:210px; padding:4px 5px; height:16px; margin:0 5px 0 0; font-size:12px; line-height:16px; border:1px solid #006dac;}
.login .text dl dd .code{ position:relative; top:-5px; margin:0 5px 0 0; vertical-align:middle;}
.login .text dl dd .link{ color:#fff;}
.login .text dl dd .btn{ display:block;width:88px; height:27px; line-height:27px; color:#333; font-weight:700; font-size:14px; background:url(../images/loginBtn.jpg) no-repeat; text-align:center; overflow:hidden; text-decoration:none;}
.login .text dl dd .error{ color:#ffda38; line-height:22px;}